body{
    background-color:#F7F2E6;
}

.nav-item{
    position:relative;
    left:200px;
    
}

.nav{
    background-color:#DB1F2A;
    height:50px;
}

.nav-link{
   color:black; 
   font-family:georgia;
}
.h2type{
    position:relative;
   left:10px;
}
.img1{
    
    height:60%;
    width:100%;
}
.lists{
    font-family:georgia;
}
.img2{
    height:420px;
    width:900px;
    position:relative;
    left:200px;
}