
.form-control{
    height:35px;
    
    }
    
    .input-group{
    width:500px;
    position:relative;
    left:50px;
    padding-top:10px;
    }
    
    .btn-default{
    position:relative;
    left:271px;
    }
    
    
    
    .div2{
   
    position:relative;
    left:380px;
    width:600px;
    height:500px;
    margin-top:30px;
    padding-top:5px;
    }

    
    
   