.nav-item{
    position:relative;
    left:200px;
    
}

.nav{
    background-color:#DB1F2A;
    height:50px;
}

.nav-link{
   color:black; 
   font-family:georgia;
  
}


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 71, 71);
}
.row{
    background-color: rgb(145, 196, 189);
}

h1{
    margin-top: auto;
    text-align: center;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
}

label{
    /*padding: 12px 12px 12px 2px;*/
    padding-left: 25px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    display: inline-block;
    font: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(25, 27, 25)
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-bottom: 8px;
    padding-right: 10px;
}

.col-75{
    float: left;
    width: 55%;
    margin-top: 6px;
    margin-bottom: 8px;
}

/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}

label.date{
    display: inline-block;
    
}
/* Responsive layout- when the screen < 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, .col-35{
        width: 100%;
        height: 80%;
        margin-top: 0;
        padding-right: 10px;
    }
}

@media screen and (max-width: 600px){
    .registerbtn{
        width: 100%;
    }
}

.signin{
    background-color: #f1f1f1;
    text-align: center;
    margin-top: auto;
}

/* p{
    font: Georgia, "Times New Roman", Times, serif;
    font-size: 130%;
    font-weight: 250;
    font-style: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    
} */

a{
    color: dodgerblue;
}

b{
    font: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    font-weight: 300;
}

.registerbtn{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.cancelbtn{
    background-color: rgb(241, 53, 53);
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.registerbtn:hover{
    opacity: 0.8;
}

.cancelbtn:hover{
    opacity: 0.8;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .registerbtn {
    float: left;
    width: 50%;
  }
/* Clear floats */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
